<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeHandlers>
        <typeHandler javaType="java.time.LocalDateTime" handler="mybatis.LocalDateTimeTypeHandler"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:jboss/datasources/AuctionDS"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="mybatis.ProductMapper"/>
        <mapper class="mybatis.BidMapper"/>
    </mappers>
</configuration>